@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
label {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* :disabled {
  cursor: not-allowed;
} */

.section-border {
  border: 1px solid black;
  padding: 14px;
}

.btn-margin-top {
  margin-top: 12px;
}

.table-padding {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-padding thead tr th,
.table-padding tbody tr td {
  padding: 6px 12px;
}